# Finder files (macOS)
.DS_Store

# Build products
libphosg-audio.a
audiocat

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
phosg-audioConfig.cmake
phosg-audioConfigVersion.cmake
CTestTestFile.cmake
Testing
cmake_install.cmake
install_manifest.txt
